body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

h1 {
  position: relative; 
  text-align: center;
  font-size: 40px;  
  padding: 20px;
}

#chats{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-table {
  display: flex;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow: hidden;
  
  width: 65vw; 
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chat-details-column:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  cursor: pointer; 
}

.product-info-chats:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  cursor: pointer;
}

.product-info-chats-column{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c6ecf8;
}

.chat-details-column {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  text-align: left; 
}

.product-info-chats{
  padding: 10px;
  display: block;
}
.chat-details {
  padding: 10px;
}

@media (min-width: 1024px) {
  .product-info-chats{
    font-size: 1.1vw;
  }
  .chat-details {
    font-size: 1.3vw;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .product-info-chats,
  .chat-details {
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .product-info-chats,
  .chat-details {
    font-size: 3vw;
  }
}

.product-info-chats p,
.chat-details p {
  margin: 5px;
}

.product-info-chats p {
  font-weight: bold;
  text-align: center; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.chat-details p:last-child {
  font-style: italic;
  color: #888;
}

.chat-table .product-info-chats-column img {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #e0e0e0;  
}

@media (max-width: 600px) {
  .chat-table .product-info-chats-column img {
    width: 80px;
    height: 80px;
  }

  .chat-table {
    border-radius: 5px;
    overflow: hidden;
    
    width: 80vw; 
    height: 130px;
    margin-top: 30px;
  }
}

#filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

#filterChats {
  display: flex;
  gap: 20px;
}

#filterChats label {
  position: relative;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#filterChats input[type="radio"] {
  position: absolute;
  opacity: 0;
}

#filterChats label.selected {
  background-color: #3498db; 
  color: #fff;
}
