body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;

}

h1 {
  position: relative; /* Position the h1 independently of other elements */
  text-align: center;
  font-size: 40px; /* Adjust as needed */ 
}

#chats{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-table {
  display: flex;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow: hidden;
  
  width: 65vw; 
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chat-details-column:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo al pasar el ratón */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.product-info:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo al pasar el ratón */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.product-info-column{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-details-column {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  text-align: left; /* Align text to the right */
}

.product-info{
  padding: 10px;
  display: block;
}
.chat-details {
  padding: 10px;
}

/* Increase font size for larger screens */
@media (min-width: 1024px) {
  .product-info{
    font-size: 1.1vw;
  }
  .chat-details {
    font-size: 1.3vw;
  }
}

/* Adjust font size for medium screens */
@media (min-width: 600px) and (max-width: 1024px) {
  .product-info,
  .chat-details {
    font-size: 2vw;
  }
}

/* Reduce font size for smaller screens */
@media (max-width: 600px) {
  .product-info,
  .chat-details {
    font-size: 3vw;
  }
}



/* Estilos adicionales según tu preferencia */
.product-info p,
.chat-details p {
  margin: 5px;
}

.product-info p {
  font-weight: bold;
  text-align: center; /* Center the text */
  margin-bottom: 10px;
  margin-top: 10px;
}

.chat-details p:last-child {
  font-style: italic;
  color: #888;
}

.chat-table .product-info-column img {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ccc;  
}

/* CSS for smaller screens */
@media (max-width: 600px) {
  .chat-table .product-info-column img {
    width: 80px;
    height: 80px;
  }

  .chat-table {
    border-radius: 5px;
    overflow: hidden;
    
    width: 80vw; 
    height: 130px;
    margin-top: 30px;
  }
}

#filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según tus necesidades */
}

#filterChats {
  display: flex;
  gap: 20px;
}

#filterChats label {
  position: relative;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#filterChats input[type="radio"] {
  position: absolute;
  opacity: 0;
}

#filterChats label.selected {
  background-color: #3498db; /* Cambia este color según tus necesidades */
  color: #fff;
}
