.chat-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que ocupe al menos el 100% de la altura de la ventana */
    background-color: #fff;
}

.product-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.messages-container {
    height: 72vh; /* Ajusta la altura deseada */
    overflow-y: auto; /* Añade un scroll vertical cuando sea necesario */
    padding: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}

.chat-header {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info{
    display: flex;
    align-items: center;
}

.product-name {
    padding-right: 10px; /* Ajusta según sea necesario */
}

.input-container {
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
}

/* Resto del código permanece igual */


.message {
    display: flex;
    flex-direction: column;
    width: fit-content;

    max-width: 60%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.user {
    align-self: flex-end;
    background-color: #c6f8d7;
    margin-left: auto; /* Ajusta la distancia al margen izquierdo */
    text-align: right;
}

.other {
    align-self: flex-start;
    background-color: #e0dfdd;
}


textarea {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
}

button {
    margin-left: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}

.message-input::placeholder {
    font-family: Arial, sans-serif;

}