.popup-container {
  border: 1px solid black;
  border-radius: 9px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid lightblue;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 200px;
  object-fit: cover; /* or object-fit: contain; */
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  background-color: black;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-name {
  color: #333;
  margin-bottom: 10px;
}

.user-email {
  color: #666;
}

.radius-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}