/* profile.css */

.profile-title,
.profile-products-title,
.profile-reviews-title {
  text-align: center;
  color: #333;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-email {
  display: flex;
}

.profile-location {
  display: flex;
}

.profile-valoraciones {
  display: flex;
}

.profile- {
  display: flex;
}

.profile-image img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-container-reviews {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.profile-first-container {
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.profile-product {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Add transition property */
}

.profile-product:hover {
  transform: scale(1.02); /* Increase size on hover */
}

.profile-product-image {
  height: 200px;
  overflow: hidden;
}

.profile-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-product-info {
  padding: 15px;
}

.profile-product-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.profile-product-description {
  color: #666;
  margin-bottom: 10px;
}

.profile-product-price {
  font-size: 1.2em;
  color: #ff6600;
}

.profile-review-interaction {
  margin: 20px;
  text-align: center;
  font-size: 1.4em;
}

.profile-review-valuebutton {
  margin: 20px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  font-size: large;
  transition-duration: 0.4s;
}

.profile-review-valuebutton:hover {
  background-color: lightskyblue;
}

.review-add-title {
  text-align: center;
}

.profile-review {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 20px;
  padding: 15px;
  border: 1px solid #c6ecf8;
  border-radius: 5px;
  box-shadow: 0 0 10px #add8e663;
  transition: transform 0.2s ease-in-out; /* Add transition property */
}

.profile-review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.review-user {
  display: flex;
  cursor: pointer;
  justify-content: left;
  margin-right: 40px;
  align-items: center;
}

.review-date {
  font-style: italic;
  color: #888;
}

.review-user-buttons {
  border-right: 1px solid #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 200px;
}
/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  .profile-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-email,
  .profile-location,
  .profile-valoraciones,
  .profile-someclass {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .profile-image img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .profile-product {
    width: 100%;
    margin: 10px 0;
  }
}
